# SVDë¥¼ ì´ìš©í•œ ì¶”ì²œì‹œìŠ¤í…œ

- ğŸ’¬ REMIND 
    - Memory ê¸°ë°˜ ì¶”ì²œ ì‹œìŠ¤í…œ
        - ì¶”ì²œì„ ìœ„í•œ ëª¨ë“  ë°ì´í„°ë¥¼ ë©”ëª¨ë¦¬ì— ì €ì¥, ì¶”ì²œì´ í•„ìš”í•  ë•Œë§ˆë‹¤ ì´ë¥¼ ì‚¬ìš©
        - ê°œë³„ ì‚¬ìš©ì ë°ì´í„°ì— ì§‘ì¤‘
        - ëŒ€ëŸ‰ì˜ ë°ì´í„° ì²˜ë¦¬ ë¬¸ì œ (ì‹¤ì‹œê°„ ì¶”ì²œ ë¶ˆê°€)
        - Cold start ë¬¸ì œ : ìƒˆë¡œìš´ ì‚¬ìš©ì, ì•„ì´í…œì´ ì‹œìŠ¤í…œì— ì¶”ê°€ë  ë•Œ ì¶”ì²œì´ ë¶ˆê°€í•œ ë¬¸ì œ
    - Model ê¸°ë°˜ ì¶”ì²œ ì‹œìŠ¤í…œ
        - ë°ì´í„°ë¡œë¶€í„° ì¶”ì²œì„ ìœ„í•œ ëª¨ë¸(ê¸°ê³„í•™ìŠµ)ì„ êµ¬ì„±, ì´ ëª¨ë¸ì„ ì‚¬ìš©í•˜ì—¬ ì¶”ì²œ
        - í•™ìŠµ ê³¼ì •ì—ì„œ ëª¨ë¸ì´ ë°ì´í„°ì˜ íŠ¹ì§•ì„ ë°°ì›Œì„œ ë°ì´í„° ì •ë³´ë¥¼ ì••ì¶•
        - ë°ì´í„°ì˜ patternì„ í•™ìŠµ (ìœ ì‚¬ë„ ë³´ë‹¤ **íŠ¹ì§•ì˜ ìš”ì†Œë¥¼ ë” ìì„¸íˆ ë°˜ì˜**)
        - ë°ì´í„°ì˜ í¬ê¸°, íŠ¹ì§•ì„ **ë™ì ** ìœ¼ë¡œ í™œìš©
        - ë°ì´í„°ì˜ **ì ì¬ì  íŠ¹ì„±**ì„ íŒŒì•…í•˜ëŠ” ëª¨ë¸ (latent factor model)
            - ì¥ì 
                - ì¶”ì²œëœ ëª¨ë¸ì€ ì••ì¶•ëœ í˜•íƒœë¡œ ì €ì¥(ì €ì°¨ì›ì˜ ì ì¬ì  íŠ¹ì„±ìœ¼ë¡œ í‘œí˜„)
                - í•™ìŠµ ê³¼ì • ì‹œê°„ì€ ì˜¤ë˜ ê±¸ë¦¬ë‚˜ ëª¨ë¸ì´ ë§Œë“¤ì–´ì§„ í›„ ì˜ˆì¸¡ ì‹œê°„ì€ ë¹ ë¦„
                - ê³¼ì í•© ë°©ì§€ : ë°ì´í„°ë¥¼ ë‹¤ì–‘í•˜ê²Œ í•™ìŠµ, ìƒˆë¡œìš´ ì¶”ì²œ ê°€ëŠ¥ì„± ë†’ìŒ

### í˜‘ì—… í•„í„°ë§ - Model Based Approach
- í˜‘ì—… í•„í„°ë§ - model based approachì˜ ë‹¨ì 
    1. ë°ì´í„°ê°€ ì¶•ì  X or Sparse í•œ ê²½ìš° ì„±ëŠ¥ì´ ë‚®ìŒ
    2. í™•ì¥ ê°€ëŠ¥ì„±ì´ ë‚®ìŒ (ë°ì´í„°ê°€ ë„ˆë¬´ ë§ì•„ì§€ë©´, ì†ë„ê°€ ì €í•˜ë¨)
- ê·¹ë³µ ë°©ì•ˆ
    - `ê¸°ê³„ í•™ìŠµ ì•Œê³ ë¦¬ì¦˜ì„ í†µí•´, ì‚¬ìš©ìê°€ ì•„ì§ í‰ê°€í•˜ì§€ ì•Šì€ ì•„ì´í…œì˜ í‰ì ì„ ì˜ˆì¸¡`
    - ê¸°ë³¸ ì•„ì´ë””ì–´ : ì‚¬ìš©ìì˜ ì„ í˜¸ë„ëŠ” ì†Œìˆ˜ì˜ Hidden Factorë¡œ ê²°ì • ê°€ëŠ¥
        - Hidden Factor (ìˆ¨ê²¨ì§„ ìš”ì¸ , = Embedding) : ì‚¬ìš©ìì™€ ì•„ì´í…œì˜ íŠ¹ì„±ì„ ì €ì°¨ì› ê³µê°„ì—ì„œ í‘œí˜„í•˜ëŠ” ì ì¬ ë³€ìˆ˜ë¥¼ ì˜ë¯¸
        - Embedding ì´ë€? : ì•„ì´í…œê³¼ ìœ ì €ì— ëŒ€í•œ ì••ì¶•ëœ ì €ì°¨ì› Hidden Factor
    - `í–‰ë ¬ ë¶„í•´ (Matrix Factorization : MF)` : ì´ëŸ¬í•œ ì ì¬ ìš”ì¸ì„ ì¶”ì¶œí•˜ëŠ” ëŒ€í‘œì ì¸ ê¸°ë²•
        - í–‰ë ¬ ë¶„í•´ëŠ” Loss Functionê³¼ ì œì•½ ì¡°ê±´ (Constraints) ì´ ìˆëŠ” ìµœì í™” ë¬¸ì œë¡œ ê³µì‹í™”ë¨
    - ë¹„ëª¨ìˆ˜ì  (Non-Parametric) ë°©ë²•
    - ë”¥ëŸ¬ë‹ (Deep Learning) ê¸°ë°˜ ë°©ë²•

#### Summary
- Latent Factor Model
    - ì‚¬ìš©ì - item íŠ¹ì„± ê°„ ë³µì¡í•œ ê´€ê³„ë¥¼ í•™ìŠµ
    - ì‚¬ìš©ì - item í–‰ë ¬ì—ì„œ ì‚¬ìš©ìì™€ itemì„ factor(íŠ¹ì§•)ë¡œ ë‚˜íƒ€ë‚´ëŠ” ë°©ë²•
    - ì‚¬ìš©ìì™€ itemì„ ê°™ì€ vectorê³µê°„(ì €ì°¨ì›)ì— í‘œí˜„
    - Vector ê³µê°„ ìƒì—ì„œì˜ ê±°ë¦¬ë¡œ ìœ ì‚¬ë„ í‰ê°€
- ì•Œê³ ë¦¬ë“¬
    - Matrix Factorization(í–‰ë ¬ë¶„í•´)
        - SVD
        - MF (ëª…ì‹œì  í‰ê°€ê°’), NMF (ë¹„ìŒìˆ˜), IMF(ì•”ë¬µì  í‰ê°€ê°’), BPR (ì•”ë¬µì  í‰ê°€ê°’)
    - Factorization Machines (í‰ê°€ê°’, ì†ì„±ì •ë³´)
    - Probabilistic Models : Clustering, Bayes Rules
    - Regression methods

## Env

In [59]:
import scipy
import numpy as np
import pandas as pd

## Data load

In [60]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.user', sep='|', names=u_cols, encoding='latin-1')

In [61]:
i_cols = ['movie_id', 'title', 'release date', 'video release date', 'IMDB URL', 'unknown',
          'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary',
          'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi',
          'Thriller', 'War', 'Western']
movies = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.item', sep='|', names=i_cols, encoding='latin-1')
movies.head()

,movie_id,title,release date,video release date,IMDB URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [62]:
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.data', sep='\t', names=r_cols, encoding='latin-1')
ratings.head()

   user_id  movie_id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [63]:
# timestamp ì œê±°
ratings = ratings.drop('timestamp', axis=1)
ratings.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

## sparse matrix ë°€ë„ check
- ì¶”ì²œì‹œìŠ¤í…œì—ì„œ ì‚¬ìš©ì-ì•„ì´í…œ í‰ì  ë°ì´í„°ì˜ íŠ¹ì„±ì„ ì´í•´í•˜ê³ , ì´í›„ ì‘ì—…(ëª¨ë¸ ì„ íƒ, ë°ì´í„° ì „ì²˜ë¦¬ ë“±)ì— ë°˜ì˜í•˜ê¸° ìœ„í•¨
    - ì‚¬ìš©ì-ì•„ì´í…œ í‰ì  ë°ì´í„°ëŠ” ì¼ë°˜ì ìœ¼ë¡œ ë§¤ìš° í¬ì†Œí•œ ë°ì´í„°ë¡œ êµ¬ì„±
    - ë°€ë„ (density) : ì „ì²´ ë°ì´í„° ì¤‘ ì‹¤ì œë¡œ ê°’ì´ ì±„ì›Œì§„ ë¹„ìœ¨(ê´€ì¸¡ëœ í‰ì  ë¹„ìœ¨), ë°ì´í„°ì˜ í¬ì†Œì„±ì„ ì •ëŸ‰ì ìœ¼ë¡œ í‰ê°€í•˜ëŠ” ì§€í‘œ
    - ë°ì´í„°ê°€ í¬ì†Œí•˜ê±°ë‚˜ ë°€ë„ê°€ ë‚®ì„ ê²½ìš°, ì¼ë¶€ ì¶”ì²œ ì•Œê³ ë¦¬ì¦˜ì€ ì„±ëŠ¥ì´ ì €í•˜ ê°€ëŠ¥

In [64]:
rating_matrix = ratings.pivot(index='user_id', columns='movie_id', values='rating')

In [65]:
# í¬ì†Œ ì •ë³´
user_num = len(rating_matrix.index)
item_num = len(rating_matrix.columns)
non_null_num = user_num*item_num - rating_matrix.isnull().sum().sum()
non_null_ratio = non_null_num / (user_num*item_num)

print(f'ì‚¬ìš©ì ìˆ˜={user_num}, ì•„ì´í…œ ìˆ˜={item_num}, ë°€ë„={non_null_ratio:.2f}')

ì‚¬ìš©ì ìˆ˜=943, ì•„ì´í…œ ìˆ˜=1682, ë°€ë„=0.06

- ì „ì²´ ê°€ëŠ¥í•œ $943 X 1682$ ì¡°í•© ì¤‘ 6% ë§Œ í‰ì ì´ ì±„ì›Œì ¸ ìˆìŒì„ ì˜ë¯¸

## SVD
- í–‰ë ¬ ë¶„í•´ ê¸°ë°˜ ëª¨ë¸ (SVD)ì€ í¬ì†Œí•œ ë°ì´í„°ì—ì„œë„ ìƒëŒ€ì ìœ¼ë¡œ ì„±ëŠ¥ì´ ê´œì°®ë‹¤.

In [66]:
# rating_matrixì˜ ê²°ì†ê°’ì€ 0ìœ¼ë¡œ ì±„ìš´ë‹¤
matrix = rating_matrix.fillna(0).to_numpy()

# ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰
P, S, Qt = scipy.sparse.linalg.svds(matrix, k=5) # ìƒìœ„ 5ê°œì˜ íŠ¹ì´ê°’ê³¼ ì´ì— í•´ë‹¹í•˜ëŠ” ë²¡í„°ë§Œ ì‚¬ìš©í•˜ì—¬ ì°¨ì› ì¶•ì†Œ

# ì˜ˆì¸¡ í‰ê°“ê°’ í–‰ë ¬ íŠ¹ì´ê°’ 5ê°œ ë§Œì„ ì´ìš©í•œ ì˜í™” í‰ì 
pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)

print(f"P: {P.shape}, S: {S.shape}, Qt: {Qt.shape}, pred_matrix: {pred_matrix.shape}")
print('Sigma Value:\n',np.round(S, 4))

P: (943, 5), S: (5,), Qt: (5, 1682), pred_matrix: (943, 1682)
Sigma Value:
 [158.2119 159.1536 217.8462 244.8363 640.6336]

- $P$ : ì‚¬ìš©ì-ì ì¬ìš”ì¸ í–‰ë ¬ (943 X 5)
- $S$ : íŠ¹ì´ê°’ í–‰ë ¬ (5, )
- $Q^T$ : ì•„ì´í…œ-ì ì¬ìš”ì¸ í–‰ë ¬ (5 X 1682)
- $pred_matrix$ : ê·¼ì‚¬í–‰ë ¬ì„ ì¬êµ¬ì„±í•˜ì—¬ **ëª¨ë“  ì‚¬ìš©ì-ì•„ì´í…œ ì¡°í•©ì— ëŒ€í•œ ì˜ˆì¸¡ í‰ì  í–‰ë ¬**ì„ ìƒì„±
    - ì‹¤ì œë¡œ ê´€ì¸¡ë˜ì§€ ì•Šì€ 0 í‰ì  (ê²°ì¸¡ê°’ í¬í•¨)ì— ëŒ€í•´ì„œë„ ì˜ˆì¸¡ê°’ì„ ì œê³µ
- íŠ¹ì´ê°’ : $R$ì€ ì¤‘ìš”í•œ ì •ë³´ë¥¼ ë‚˜íƒ€ë‚´ë©°, ê°’ì´ í´ìˆ˜ë¡ í•´ë‹¹ ì¶•ì´ ë°ì´í„°ì˜ ë³€ë™ì„ ë§ì´ ì„¤ëª…

#### ğŸ’­ íŠ¹ì´ê°’ (Singular Value)ì˜ ì˜ë¯¸
1. ë°ì´í„°ì˜ ë³€ë™ì„ ì„¤ëª…
    - ì‚¬ìš©ì - ì•„ì´í…œ í‰ì  í–‰ë ¬ì—ì„œ ê°€ì¥ ì¤‘ìš”í•œ íŒ¨í„´(êµ¬ì¡°)ë¥¼ ë‚˜íƒ€ëƒ„
    - ê° íŠ¹ì´ê°’ì€ ë°ì´í„°ì˜ íŠ¹ì • ì°¨ì›(ì¶•)ì´ ì–¼ë§ˆë‚˜ ë§ì€ ë³€ë™(ì •ë³´)ì„ ì„¤ëª…í•˜ëŠ”ì§€ ë‚˜íƒ€ëƒ„
    - ê°’ì´ í´ìˆ˜ë¡ í•´ë‹¹ ì°¨ì›ì´ ë°ì´í„°ì—ì„œ ë” ì¤‘ìš”í•œ ì •ë³´ë¥¼ í¬í•¨í•˜ê³  ìˆë‹¤ëŠ” ëœ»
2. ì¤‘ìš”í•œ ì •ë³´ì˜ ìš°ì„ ìˆœìœ„
    - íŠ¹ì´ê°’ë“¤ì€ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬, ê°€ì¥ í° íŠ¹ì´ê°’ì€ ë°ì´í„°ì˜ ë³€ë™ì„ ê°€ì¥ ë§ì´ ì„¤ëª…í•˜ëŠ” ì¶•ì„ ë‚˜íƒ€ëƒ„

## movie data ì¬êµ¬ì„±: [movie_id, title]

In [67]:
movies.head()

,movie_id,title,release date,video release date,IMDB URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [68]:
# movie IDì™€ title ë¹¼ê³  ë‹¤ë¥¸ ë°ì´í„° ì œê±°
movies = movies[['movie_id', 'title']]

## RMSE

In [69]:
# ì •í™•ë„(RMSE)ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

## ëª¨ë¸ë³„ë¡œ í…ŒìŠ¤íŠ¸ë°ì´í„°ì˜ ì˜ˆì¸¡ ë° ì‹¤ë°ì´í„° ê°„ì˜ ì •í™•ë„ ê³„ì‚°

In [70]:
# ëª¨ë¸ë³„ RMSEë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜
def score(model):
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])
    y_pred = np.array([model(user, movie) for (user, movie) in id_pairs])
    y_true = np.array(x_test['rating'])
    return RMSE(y_true, y_pred)

## train, test set ë¶„ë¦¬
- user_idë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì¼ì • ë¹„ìœ¨(stratify=true)ë¡œ í•™ìŠµ, í…ŒìŠ¤íŠ¸ ë°ì´í„° ë¶„ë¦¬

In [71]:
from sklearn.model_selection import train_test_split
x = ratings.copy()
y = ratings['user_id']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state= 42, stratify=y)

## í•™ìŠµë°ì´í„°(ì‚¬ìš©ì X ì˜í™” X í‰ì ) matrix

In [72]:
# train ë°ì´í„°ë¡œ Full matrix êµ¬í•˜ê¸°
rating_matrix = x_train.pivot(index='user_id', columns='movie_id', values='rating')
rating_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1671,1672,1673,1674,1676,1677,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,NaN,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## SVD ì¶”ì²œ í•¨ìˆ˜

In [73]:
def SVD(user_id, movie_id):
    if movie_id in svd_rating_matrix.columns:
        svd_rating = svd_rating_matrix.loc[user_id][movie_id]
    else:
        svd_rating = 3.0
    return svd_rating

## test dataì— ëŒ€í•´ SVDê²°ê³¼ì™€ ì‹¤ì œ í‰ê°€ ê²°ê³¼ (RMSE)

In [74]:
matrix = rating_matrix.fillna(0).to_numpy()
#matrix = rating_matrix.fillna(rating_matrix.mean()).to_numpy()

# ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰
P, S, Qt = scipy.sparse.linalg.svds(matrix, k=20)
pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)
svd_rating_matrix = pd.DataFrame(data=pred_matrix, index=rating_matrix.index, columns=rating_matrix.columns)

In [75]:
svd_rating_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1671,1672,1673,1674,1676,1677,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,3.006481,1.809370,0.960381,2.481368,1.059846,0.546573,4.538669,2.297971,3.552747,1.490523,...,-0.001822,0.009433,-0.019013,0.040106,0.011884,-0.007336,-0.007700,-0.005133,0.010175,0.079008
2,1.894966,0.221923,-0.029699,0.090011,-0.001862,0.113968,0.867180,0.422012,1.245891,0.468456,...,0.001849,0.008298,0.009367,-0.012678,-0.006713,0.006210,0.010882,0.007254,0.008723,-0.022699
3,0.260253,-0.066518,0.146165,-0.129483,-0.048204,0.019336,0.009599,0.005938,-0.633178,0.066842,...,0.004879,0.006192,0.006147,-0.006796,0.009542,-0.006157,0.030835,0.020557,-0.001604,0.000979
4,0.016350,-0.096596,0.091923,-0.023741,0.216779,0.038250,-0.046003,-0.105071,-0.410620,-0.141353,...,0.002884,0.000804,0.006543,-0.003759,-0.000861,-0.005185,0.013143,0.008762,-0.001786,-0.006152
5,3.698721,1.201589,0.374176,1.407907,0.241429,0.036356,1.815734,1.443525,-0.421585,0.468069,...,0.001371,0.004985,-0.013011,-0.012842,-0.016411,-0.010507,-0.002918,-0.001945,0.007771,-0.002175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,2.064812,-0.065772,0.290639,-0.175145,-0.113272,-0.019625,1.021411,0.096239,1.418665,0.153576,...,-0.001338,-0.005229,0.006062,0.001894,0.007092,0.014316,-0.008350,-0.005567,-0.008536,-0.003219
940,1.434438,0.090097,-0.087964,1.069583,0.043903,0.011418,1.351274,0.794164,1.084095,0.343653,...,0.003133,-0.000181,0.005936,0.015025,-0.006492,0.014885,0.020663,0.013775,-0.001134,-0.014706
941,1.436732,0.019490,0.505868,0.074938,-0.042586,-0.003322,1.490683,0.178519,0.598166,0.199237,...,-0.000710,0.004634,-0.004551,-0.002483,0.000896,0.011135,-0.006277,-0.004184,0.008948,0.003816
942,0.503823,0.125259,-0.405749,0.115692,0.417029,-0.031206,0.235311,0.983105,0.539723,-0.169494,...,0.002903,-0.002499,0.005263,0.021071,0.004178,0.003257,0.013036,0.008691,0.009607,-0.032074
943,1.172038,1.067328,0.890621,1.666576,0.815478,-0.086294,1.939179,0.497209,1.460810,-0.399081,...,-0.003691,-0.000662,-0.005564,-0.038714,0.015839,0.009033,-0.021298,-0.014198,0.018995,0.017508

In [76]:
score(SVD) # 2.709285376137203

2.7092853761372027

In [ ]:
# ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰
P, S, Qt = scipy.sparse.linalg.svds(matrix, k=11) # ìµœì ì˜ Latent Factor ì ìš©
pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)
svd_rating_matrix = pd.DataFrame(data=pred_matrix, index=rating_matrix.index, columns=rating_matrix.columns)

In [78]:
score(SVD) # 2.709285376137203

2.669090545779567

## rating matrixì—ì„œ Nan ê°’ ì‚¬ìš©ìë³„ í‰ì ìœ¼ë¡œ í•œ ê²ƒê³¼ ë¹„êµ

- `matrix = rating_matrix.fillna(0).to_numpy()` : ê²°ì¸¡ê°’ì„ 0 ìœ¼ë¡œ ì±„ì›€
- `matrix = ratings_matrix.fillna(rating_matrix.mean(axis=1).to_numpy()` : ê²°ì¸¡ê°’ì„ ì‚¬ìš©ìë³„ í‰ê·  í‰ì ìœ¼ë¡œ ì±„ì›€
  - NaNì„ ì‚¬ìš©ìë³„ í‰ê· ìœ¼ë¡œ ì±„ìš°ë©´, ê°œì¸í™”ëœ ì„ í˜¸ë„ê°€ ë°˜ì˜

# ì „ì²´ ë°ì´í„°ì—ì„œ ì¶”ì²œ
- í…ŒìŠ¤íŠ¸ ê²°ê³¼ëŠ” ëª¨ë¸ì˜ ì‹ ë¢°ì„±ì„ ê²€ì¦í•˜ê¸° ìœ„í•œ ë„êµ¬
- ì‹¤ì œ ì¶”ì²œì€ ì „ì²´ ë°ì´í„°ë¥¼ ëŒ€ìƒìœ¼ë¡œ ì´ë£¨ì–´ì§
    - `ì¶”ì²œ ì‹œìŠ¤í…œì˜ ìµœì¢… ëª©í‘œ` : ì „ì²´ ë°ì´í„°ì—ì„œ ì‚¬ìš©ìê°€ ì•„ì§ ë³´ì§€ ì•Šì€ ì•„ì´í…œì„ ì¶”ì²œí•˜ëŠ” ê²ƒ

In [79]:
rating_matrix = ratings.pivot_table(values='rating', index='user_id', columns='movie_id')

# ë¯¸í‰ê°€í•œ ì˜í™” 0ì 
#matrix = rating_matrix.fillna(0).to_numpy()

# ë¯¸í‰ê°€í•œ ì˜í™” ì˜í™”ë³„ í‰ì  í‰ê· 
copy_rating_matrix= rating_matrix.fillna(rating_matrix.mean())
matrix = copy_rating_matrix.to_numpy()

# ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰í•œë‹¤
P, S, Qt = scipy.sparse.linalg.svds(matrix, k=10)

# ì˜ˆì¸¡ í‰ê°“ê°’ í–‰ë ¬ íŠ¹ì´ê°’ 5ê°œ ë§Œì„ ì´ìš©í•œ ì˜í™” í‰ì 
pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)
svd_rating_matrix = pd.DataFrame(data=pred_matrix, index=rating_matrix.index, columns=rating_matrix.columns)

In [80]:
def recommender(user, n_items=10):
    # í˜„ì¬ ì‚¬ìš©ìì˜ ëª¨ë“  ì•„ì´í…œì— ëŒ€í•œ ì˜ˆìƒ í‰ì  ê³„ì‚°
    predictions = []
    rated_index = rating_matrix.loc[user][rating_matrix.loc[user] > 0].index    # ì´ë¯¸ í‰ê°€í•œ ì˜í™” í™•ì¸
    items = rating_matrix.loc[user].drop(rated_index)   # userê°€ ë¯¸í‰ê°€í•œ ì˜í™”
    for item in items.index:
        predictions.append(SVD(user, item))                   # ì˜ˆìƒí‰ì  ê³„ì‚°
    recommendations = pd.Series(data=predictions, index=items.index, dtype=float)
    recommendations = recommendations.sort_values(ascending=False)[:n_items]    # ì˜ˆìƒí‰ì ì´ ê°€ì¥ ë†’ì€ ì˜í™” ì„ íƒ
    recommended_items = movies.loc[recommendations.index]['title']
    return recommended_items

In [81]:
recommender(user=2, n_items=5)

movie_id
1467                                     Cure, The (1995)
1122                    Last Time I Saw Paris, The (1954)
1653                         Chairman of the Board (1998)
1293                     Ayn Rand: A Sense of Life (1997)
1500    Prisoner of the Mountains (Kavkazsky Plennik) ...
Name: title, dtype: object

In [82]:
recommender(user=20, n_items=5)

movie_id
1122              Last Time I Saw Paris, The (1954)
1201    Maybe, Maybe Not (Bewegte Mann, Der) (1994)
1467                               Cure, The (1995)
1599                            Guantanamera (1994)
814                             One Fine Day (1996)
Name: title, dtype: object

## ìµœì  latent factor êµ¬í•˜ê¸°
### ğŸ’­ Latent Factorë€?
- SVD, í–‰ë ¬ ë¶„í•´ ë“±ì˜ ê¸°ë²•ì—ì„œ **ì‚¬ìš©ìì™€ ì•„ì´í…œ ê°„ì˜ ìƒí˜¸ì‘ìš©ì„ ì„¤ëª…í•˜ëŠ” ì ì¬ê³µê°„(Latent Space)**ì˜ ì°¨ì›ì„ ì˜ë¯¸
- ì‚¬ìš©ìì™€ ì•„ì´í…œì€ ì´ ì ì¬ê³µê°„ì—ì„œ ê°ê° ë²¡í„°ë¡œ í‘œí˜„, ë²¡í„° ê°„ ë‚´ì ì„ í†µí•´ ì˜ˆì¸¡ í‰ì ì„ ê³„ì‚°
     - ì˜ˆì‹œ : ì˜í™” ì¶”ì²œì—ì„œ Latent FactorëŠ” ì¥ë¥´ ì„ í˜¸ë„, ì•¡ì…˜/ë¡œë§¨ìŠ¤ ì˜ ë¹„ìœ¨ ë“±ê³¼ ê°™ì€ ìˆ¨ê²¨ì§„ ìš”ì¸ì„ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆìŒ

- ìµœì ì˜ Latent Factor êµ¬í•˜ëŠ” ì´ìœ 
    - Latent Factor ìˆ˜ëŠ” ëª¨ë¸ ì„±ëŠ¥ì— ì§ì ‘ì ì¸ ì˜í–¥ì„ ë¯¸ì¹œë‹¤.
    - ë„ˆë¬´ ì‘ìœ¼ë©´ : ì‚¬ìš©ì - ì•„ì´í…œ ê´€ê³„ë¥¼ ì¶©ë¶„íˆ í‘œí˜„í•˜ì§€ ëª»í•´ ê³¼ì†Œì í•©
    - ë„ˆë¬´ í¬ë©´ : ë°ì´í„°ì˜ ë…¸ì´ì¦ˆ ê¹Œì§€ í•™ìŠµí•˜ì—¬ ê³¼ì í•© ë°œìƒê°€ëŠ¥ì„± ì¦ê°€
    - `ì‚¬ìš©ìì™€ ì•„ì´í…œ ê°„ì˜ ìˆ¨ê²¨ì§„ íŠ¹ì§•ì„ ì„¤ëª…í•˜ê¸°ì— ì ì ˆí•œ Latent Factor ìˆ˜ë¥¼ ì°¾ì•„ì•¼ í•¨`

In [83]:
# train setìœ¼ë¡œ factor ê°¯ìˆ˜ì— ë”°ë¥¸ RMSE
rating_matrix = x_train.pivot_table(values='rating', index='user_id', columns='movie_id')
copy_rating_matrix= rating_matrix.fillna(rating_matrix.mean())
matrix = copy_rating_matrix.to_numpy()

for factor in [20, 50, 100, 150, 200, 250]:
    # ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰í•œë‹¤
    P, S, Qt = scipy.sparse.linalg.svds(matrix, k=factor)

    # ì˜ˆì¸¡ í‰ê°“ê°’ í–‰ë ¬ íŠ¹ì´ê°’ 5ê°œ ë§Œì„ ì´ìš©í•œ ì˜í™” í‰ì )
    pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)
    svd_rating_matrix = pd.DataFrame(data=pred_matrix, index=rating_matrix.index, columns=rating_matrix.columns)
    print("Neighbor size = %d : RMSE = %.4f" % (factor, score(SVD)))

Neighbor size = 20 : RMSE = 0.9888
Neighbor size = 50 : RMSE = 1.0000
Neighbor size = 100 : RMSE = 1.0112
Neighbor size = 150 : RMSE = 1.0183
Neighbor size = 200 : RMSE = 1.0232
Neighbor size = 250 : RMSE = 1.0257

-> Factor ê°œìˆ˜ê°€ 20 ì¼ë•Œ, RMSEê°€ ê°€ì¥ ë‚®ì€ ê°’ì„ ë³´ì´ë¯€ë¡œ, ì´ ê²½ìš°ê°€ ì ì ˆí•˜ë‹¤.
- RMSEê°€ ì¦ê°€í•˜ê¸° ì‹œì‘í•˜ë©´ ê³¼ì í•©ì˜ ê°€ëŠ¥ì„±ì´ ì¦ê°€í•˜ë©´ì„œ ì„±ëŠ¥ì´ ì €í•˜ë¨

In [84]:
# train setìœ¼ë¡œ factor ê°¯ìˆ˜ì— ë”°ë¥¸ RMSE
rating_matrix = x_train.pivot_table(values='rating', index='user_id', columns='movie_id')
copy_rating_matrix= rating_matrix.fillna(rating_matrix.mean())
matrix = copy_rating_matrix.to_numpy()

for factor in [2, 4, 6, 8, 10, 11, 12, 13, 14, 16, 18, 20]:
    # ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰í•œë‹¤
    P, S, Qt = scipy.sparse.linalg.svds(matrix, k=factor)

    # ì˜ˆì¸¡ í‰ê°“ê°’ í–‰ë ¬ íŠ¹ì´ê°’ 5ê°œ ë§Œì„ ì´ìš©í•œ ì˜í™” í‰ì )
    pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)
    svd_rating_matrix = pd.DataFrame(data=pred_matrix, index=rating_matrix.index, columns=rating_matrix.columns)
    print("Neighbor size = %d : RMSE = %.4f" % (factor, score(SVD)))

Neighbor size = 2 : RMSE = 1.0007
Neighbor size = 4 : RMSE = 0.9926
Neighbor size = 6 : RMSE = 0.9898
Neighbor size = 8 : RMSE = 0.9867
Neighbor size = 10 : RMSE = 0.9864
Neighbor size = 11 : RMSE = 0.9851
Neighbor size = 12 : RMSE = 0.9861
Neighbor size = 13 : RMSE = 0.9862
Neighbor size = 14 : RMSE = 0.9869
Neighbor size = 16 : RMSE = 0.9877
Neighbor size = 18 : RMSE = 0.9883
Neighbor size = 20 : RMSE = 0.9888

# ìµœì ì˜ Latent Factorë¡œ ì „ì²´ ë°ì´í„°ì—ì„œ ì¶”ì²œ

In [85]:
rating_matrix = ratings.pivot_table(values='rating', index='user_id', columns='movie_id')

# ë¯¸í‰ê°€í•œ ì˜í™” 0ì 
#matrix = rating_matrix.fillna(0).to_numpy()

# ë¯¸í‰ê°€í•œ ì˜í™” ì˜í™”ë³„ í‰ì  í‰ê· 
copy_rating_matrix= rating_matrix.fillna(rating_matrix.mean())
matrix = copy_rating_matrix.to_numpy()

# ì¸ì ìˆ˜ x íŠ¹ì´ê°’ ë¶„í•´ë¥¼ ìˆ˜í–‰í•œë‹¤
P, S, Qt = scipy.sparse.linalg.svds(matrix, k=11)

# ì˜ˆì¸¡ í‰ê°“ê°’ í–‰ë ¬ íŠ¹ì´ê°’ 5ê°œ ë§Œì„ ì´ìš©í•œ ì˜í™” í‰ì 
pred_matrix = np.dot(np.dot(P, np.diag(S)), Qt)
svd_rating_matrix = pd.DataFrame(data=pred_matrix, index=rating_matrix.index, columns=rating_matrix.columns)

In [86]:
recommender(user=2, n_items=5)

movie_id
1536                                    Cosi (1996)
1293               Ayn Rand: A Sense of Life (1997)
1201    Maybe, Maybe Not (Bewegte Mann, Der) (1994)
1189                        That Old Feeling (1997)
814                             One Fine Day (1996)
Name: title, dtype: object

In [87]:
recommender(user=20, n_items=5)

movie_id
1536                                    Cosi (1996)
1201    Maybe, Maybe Not (Bewegte Mann, Der) (1994)
1467                               Cure, The (1995)
1122              Last Time I Saw Paris, The (1954)
1653                   Chairman of the Board (1998)
Name: title, dtype: object

- RMSEê°€ ìµœì†Œì¸ Latent FactorëŠ” ëª¨ë¸ì˜ ì„±ëŠ¥ì´ ìµœì í™”ë˜ì—ˆìŒì„ ë‚˜íƒ€ë‚¼ ìˆ˜ ìˆì§€ë§Œ,
- `ì´ê²ƒì´ í•­ìƒ ìµœì ì˜ Latent Factorë¥¼ ì˜ë¯¸í•˜ì§€ëŠ” ì•ŠëŠ”ë‹¤`
    - ìµœì ì˜ Latent Factor íŒë‹¨ ê¸°ì¤€ìœ¼ë¡œ ì¼ë°˜í™” ì„±ëŠ¥, í‰ê°€ ì§€í‘œ ë‹¤ì–‘í™”, Latent Factorì˜ í•´ì„ ê°€ëŠ¥ì„±, ë³µì¡ë„ì™€ íš¨ìœ¨ì„± ë“±ì„ íŒë‹¨í•´ì•¼í•œë‹¤.