## ìœ ì‚¬ë„ê°€ ë†’ì€ K ì‚¬ìš©ì(KNN)ì˜ í‰ì ì„ ì´ìš©í•œ í˜‘ì—… í•„í„°ë§

- ğŸ’¬ REMIND
    - Memory-based : Matrixë¥¼ ì´ìš©í•˜ëŠ” ì¶”ì²œì‹œìŠ¤í…œ ì¤‘ ì‚¬ìš©ìì˜ í‰ì  í˜¹ì€ ì‚¬ìš© ì—¬ë¶€ë¥¼ ë°”íƒ•ìœ¼ë¡œ êµ¬ë§¤ íŒ¨í„´ì„ íŒŒì•…í•´ ê·¸ ê¸°ì–µì„ ë°”íƒ•ìœ¼ë¡œ ì¶”ì²œì„ ì§„í–‰í•˜ëŠ” ë°©ë²•

- KNN(K- Nearest Neighbors) : Këª…ì˜ ìµœê·¼ì ‘ ì´ì›ƒì— ê¸°ë°˜í•´ì„œ ì°¾ëŠ” ë°©ë²•, ì‚¬ìš©ìê°€ ì¤€ í‰ì ìœ¼ë¡œ ìœ ì‚¬í•œ ì‚¬ëŒì˜ ì•„ì´í…œì„ ì°¾ê±°ë‚˜, ìœ ì‚¬í•œ ì•„ì´í…œì„ ì°¾ì•„ ì¶”ì²œì„ í•œë‹¤.
    - í¸í–¥ì„ ì œê±°(ì „ë°˜ì ìœ¼ë¡œ í‰ì ì„ í›„í•˜ê²Œ ì£¼ê±°ë‚˜ ì ê²Œ ì£¼ëŠ” ê²½ìš°ë¥¼ ë°©ì§€) í•´ì£¼ê¸° ìœ„í•´ ë¹„êµêµ°ì˜ í‰ì ì„ ë”í•´ì£¼ê±°ë‚˜ ë¹¼ì£¼ì–´ ë™ì¼í•˜ê²Œ í•´ì¤€ë‹¤.
    - ë°©ë²•ì´ ê°„ë‹¨í•˜ê³  ì§ê´€ì ì´ì–´ì„œ ì ‘ê·¼ì´ ìš©ì´
    - ìœ ì € ê¸°ë°˜ì˜ ë°©ë²• ë° ì†ë„, ë©”ëª¨ë¦¬ê°€ ë§ì´ ë“ ë‹¤.
    - í¬ì†Œì„±ìœ¼ë¡œ ì¸í•œ ì œì•½ì´ ë°œìƒí•œë‹¤. (ìœ ì‚¬í•œ ì´ì›ƒì´ ì‚¬ìš©í•œ ê²½í—˜ì´ ì—†ìœ¼ë©´ ì¶”ì²œ ë¶ˆê°€ëŠ¥í•˜ë‹¤)

In [100]:
import numpy as np
import pandas as pd

### Data Load

In [101]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.user', sep='|', names=u_cols, encoding='latin-1')

i_cols = ['movie_id', 'title', 'release date', 'video release date', 'IMDB URL', 'unknown', 
          'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 
          'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 
          'Thriller', 'War', 'Western']
movies = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.item', sep='|', names=i_cols, encoding='latin-1')

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [102]:
# rating df, timestamp ì œê±° 
ratings = ratings.drop('timestamp', axis=1)

In [103]:
# movie IDì™€ title ë¹¼ê³  ë‹¤ë¥¸ ë°ì´í„° ì œê±°
movies = movies[['movie_id', 'title']]

### RMSE
- $RMSE = \sqrt{\frac{1}{n} \sum_{i=1}^{n} (y_i - \hat{y_i})^2}$
- ì˜ˆì¸¡ ëª¨ë¸ì˜ ì„±ëŠ¥ì„ í‰ê°€í•˜ëŠ” ì§€í‘œ ì¤‘ í•˜ë‚˜ / ì˜ˆì¸¡ ì˜¤ì°¨ì˜ í¬ê¸°ë¥¼ ì œê³±í•œ í›„ í‰ê· ì„ ë‚´ê³ , ë‹¤ì‹œ ì œê³±ê·¼ì„ ì·¨í•œ ê°’

In [104]:
# ì •í™•ë„(RMSE)ë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

### ëª¨ë¸ë³„ë¡œ í…ŒìŠ¤íŠ¸ ë°ì´í„°ì˜ ì˜ˆì¸¡ ë° ì‹¤ë°ì´í„° ê°„ì˜ ì •í™•ë„ ê³„ì‚°

In [105]:
# ëª¨ë¸ë³„ RMSEë¥¼ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜
def score(model, neighbor_size=0):
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])
    y_pred = np.array([model(user, movie, neighbor_size) for (user, movie) in id_pairs])
    y_true = np.array(x_test['rating'])
    return RMSE(y_true, y_pred)

### train, test set ë¶„ë¦¬

In [106]:
from sklearn.model_selection import train_test_split
x = ratings.copy()
y = ratings['user_id']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state= 42, stratify=y)

### train ë°ì´í„° (ì‚¬ìš©ì X ì˜í™” X í‰ì ) Full matrix

In [107]:
# train ë°ì´í„°ë¡œ Full matrix êµ¬í•˜ê¸° 
rating_matrix = x_train.pivot(index='user_id', columns='movie_id', values='rating')
rating_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1671,1672,1673,1674,1676,1677,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,NaN,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### train set ì‚¬ìš©ìê°„ì˜ ìœ ì‚¬ë„ (cosie similarity) ê³„ì‚°
- í‰ê°€ë¥¼ ì§„í–‰í•˜ì§€ ì•Šì€ ì˜í™”ëŠ” NaNê°’ìœ¼ë¡œ ë˜ì–´ìˆë‹¤.

In [108]:
from sklearn.metrics.pairwise import cosine_similarity

matrix_dummy = rating_matrix.copy().fillna(0) # í‰ê°€ë¥¼ ì§„í–‰í•˜ì§€ ì•Šì€ ì˜í™” -> 0ìœ¼ë¡œ ìˆ˜ì •
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)
user_similarity

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.108361,0.046638,0.029577,0.245753,0.335853,0.344724,0.191582,0.057149,0.251979,...,0.257073,0.069412,0.231643,0.108093,0.176842,0.104799,0.232472,0.051528,0.129555,0.256333
2,0.108361,1.000000,0.057613,0.130237,0.054918,0.190552,0.079399,0.076146,0.167992,0.147376,...,0.136993,0.252887,0.255454,0.285193,0.232751,0.149088,0.102807,0.062386,0.109143,0.107686
3,0.046638,0.057613,1.000000,0.139805,0.000000,0.032485,0.043869,0.080968,0.022263,0.059925,...,0.027402,0.000000,0.175060,0.010343,0.105635,0.019052,0.127099,0.023917,0.060392,0.000000
4,0.029577,0.130237,0.139805,1.000000,0.000000,0.045190,0.088586,0.199526,0.135013,0.026919,...,0.055392,0.049773,0.076549,0.139382,0.113886,0.000000,0.130343,0.077357,0.157890,0.063911
5,0.245753,0.054918,0.000000,0.000000,1.000000,0.176443,0.281860,0.132205,0.038790,0.134200,...,0.183969,0.019305,0.073714,0.041807,0.081088,0.029743,0.188392,0.068342,0.055557,0.207259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.104799,0.149088,0.019052,0.000000,0.029743,0.086464,0.075012,0.095736,0.000000,0.080883,...,0.061061,0.299811,0.158064,0.221251,0.323989,1.000000,0.047368,0.162173,0.058828,0.124548
940,0.232472,0.102807,0.127099,0.130343,0.188392,0.230566,0.270071,0.164157,0.131458,0.255758,...,0.195863,0.113346,0.144570,0.173568,0.139877,0.047368,1.000000,0.092911,0.199881,0.135868
941,0.051528,0.062386,0.023917,0.077357,0.068342,0.095478,0.020036,0.076269,0.106763,0.063461,...,0.021901,0.055348,0.226017,0.170493,0.249612,0.162173,0.092911,1.000000,0.072402,0.099200
942,0.129555,0.109143,0.060392,0.157890,0.055557,0.197307,0.236086,0.089871,0.089297,0.169309,...,0.111291,0.078263,0.051882,0.137759,0.069516,0.058828,0.199881,0.072402,1.000000,0.142812
943,0.256333,0.107686,0.000000,0.063911,0.207259,0.185268,0.266571,0.210995,0.089583,0.181031,...,0.173589,0.230924,0.108522,0.042257,0.178930,0.124548,0.135868,0.099200,0.142812,1.000000

### train ë°ì´í„°ì˜ userì˜ rating í‰ê· ê³¼ ì˜í™”ì˜ í‰ì í¸ì°¨ ê³„ì‚°
- `rating_mean`: ê° ì‚¬ìš©ìì˜ ì˜í™” í‰ì ì˜ í‰ê· 
- `rating_matrix.T` : ì‚¬ìš©ìë“¤ì´ ì˜í™”ë“¤ì— ëŒ€í•´ í‰ê°€í•œ ì •ë³´ë¥¼ ì—´ ê¸°ì¤€ìœ¼ë¡œ ë°”ê¾¸ëŠ” ê²ƒ
- `rating_matrix.T - rating_mean` : ê° ì‚¬ìš©ìê°€ ì˜í™”ì— ë¶€ì—¬í•œ í‰ì ì—ì„œ í•´ë‹¹ ì‚¬ìš©ìì˜ í‰ê·  í‰ì ì„ ë¹¼ëŠ” ì‘ì—…
    - ê²°ê³¼ì ìœ¼ë¡œ ì‚¬ìš©ìë³„ë¡œ í¸ì°¨ê°€ ê³„ì‚°ëœ ìƒíƒœ

##### ì™œ í•´ë‹¹ ì‘ì—…ì„ í•˜ëŠ”ê°€?
- í˜‘ì—… í•„í„°ë§ì—ì„œëŠ” ì‚¬ìš©ìì˜ **ê°œì¸ì ì¸ í¸í–¥**ì„ ê³ ë ¤í•˜ëŠ” ê²ƒì´ ì¤‘ìš”
- ì–´ë–¤ ì‚¬ìš©ìëŠ” ëŒ€ë¶€ë¶„ì˜ ì˜í™”ì— ëŒ€í•´ ë†’ì€ í‰ì ì„ ë¶€ì—¬í•˜ê³ , ë‹¤ë¥¸ ì‚¬ìš©ìëŠ” ë” ë‚®ì€ í‰ì ì„ ì£¼ëŠ” ê²½í–¥ì´ ìˆì„ ìˆ˜ ìˆë‹¤.
- ì‚¬ìš©ì ê°„ì˜ í‰ì ì´ ì¼ê´€ë˜ì§€ ì•Šìœ¼ë©´ ë‹¨ìˆœíˆ í‰ì ë§Œì„ ì´ìš©í•´ ìœ ì‚¬ë„ë¥¼ ê³„ì‚°í•˜ê±°ë‚˜ ì¶”ì²œì„ ìˆ˜í–‰í•˜ëŠ” ê²ƒì€ ë¶€ì •í™•í•œ ê²°ê³¼ë¥¼ ì´ˆë˜í•œë‹¤.
    - ì´ë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´, ê° ì‚¬ìš©ìì˜ ì˜í™” í‰ì ì—ì„œ **ê°œì¸ í‰ê· ì„ ë¹¼ì„œ í¸ì°¨ë¥¼ ê³„ì‚°**í•˜ê³ , ì´ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì¶”ì²œì„ ìˆ˜í–‰ -> ì‚¬ìš©ì ê°„ì˜ ì°¨ì´ë¥¼ ë³´ì •í•  ìˆ˜ ìˆìœ¼ë©°, ì‚¬ìš©ì ê°„ ìœ ì‚¬ë„ ê³„ì‚°ì´ ë” ì •í™•í•´ì§€ê³  ì¶”ì²œ ê²°ê³¼ì˜ í’ˆì§ˆì´ í–¥ìƒ
    - ë”°ë¼ì„œ `rating_bias`ëŠ” í‰ì ì˜ ì ˆëŒ€ì ì¸ ê°’ì´ ì•„ë‹ˆë¼, ì‚¬ìš©ì í‰ê·  ëŒ€ë¹„ ìƒëŒ€ì ì¸ í¸ì°¨ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.

In [109]:
# train ë°ì´í„°ì˜ userì˜ rating í‰ê· ê³¼ ì˜í™”ì˜ í‰ì í¸ì°¨ ê³„ì‚° 
rating_mean = rating_matrix.mean(axis=1)   # <ì‚¬ìš©ìë³„ ì˜í™”í‰ì  í‰ê· >, axis=1ì´ë©´ columnì— í–‰ì˜ í‰ê· 
rating_bias = (rating_matrix.T - rating_mean).T   # ê° ì˜í™” ì‚¬ìš©ì í‰ì  - <ì‚¬ìš©ìë³„ ì˜í™”í‰ì  í‰ê· >

In [110]:
rating_bias

movie_id,1,2,3,4,5,6,7,8,9,10,...,1671,1672,1673,1674,1676,1677,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.401961,-0.598039,0.401961,NaN,-0.598039,1.401961,0.401961,-2.598039,1.401961,-0.598039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.212766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.787234,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.190840,0.190840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,-1.45,NaN,NaN,0.550000,1.550000,-0.450000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,0.058824,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,1.626984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ì£¼ì–´ì§„ ì˜í™”ì˜ (movie_id) ê°€ì¤‘ í‰ê·  ratingì„ ê³„ì‚°í•˜ëŠ” í•¨ìˆ˜

In [111]:
def CF_knn_bias(user_id, movie_id, neighbor_size=0): # íŠ¹ì • ìœ ì €, íŠ¹ì • ìœ ì €ì™€ ìœ ì‚¬í•œ ì‚¬ëŒ
    if movie_id in rating_bias:
        # í˜„ userì™€ ë‹¤ë¥¸ ì‚¬ìš©ì ê°„ì˜ ìœ ì‚¬ë„ ê°€ì ¸ì˜¤ê¸°
        sim_scores = user_similarity[user_id].copy() 
        # í˜„ movieì˜ í‰ì í¸ì°¨ ê°€ì ¸ì˜¤ê¸°
        movie_ratings = rating_bias[movie_id].copy()
        # í˜„ movieì— ëŒ€í•œ ratingì´ ì—†ëŠ” ì‚¬ìš©ì ì‚­ì œ
        none_rating_idx = movie_ratings[movie_ratings.isnull()].index
        movie_ratings = movie_ratings.drop(none_rating_idx)
        sim_scores = sim_scores.drop(none_rating_idx)
        
##### (2) Neighbor sizeê°€ ì§€ì •ë˜ì§€ ì•Šì€ ê²½ìš°        
        if neighbor_size == 0:
            if sim_scores.sum() == 0:    # user_idì™€ ìœ ì‚¬ë„ê°€ 0ì¸ ê²½ìš° ìˆìŒ.
                prediction = rating_mean[user_id]  # ì‚¬ìš©ìë³„ ì˜í™”í‰ì  í‰ê· 
            else:
                # í¸ì°¨ë¡œ ì˜ˆì¸¡ê°’(í¸ì°¨ ì˜ˆì¸¡ê°’) ê³„ì‚°
                prediction = np.dot(sim_scores, movie_ratings) / sim_scores.sum()
                # í¸ì°¨ ì˜ˆì¸¡ê°’ì— í˜„ ì‚¬ìš©ìì˜ í‰ê·  ë”í•˜ê¸°
                prediction = prediction + rating_mean[user_id]
                
##### (3) Neighbor sizeê°€ ì§€ì •ëœ ê²½ìš°            
        else:
            # í•´ë‹¹ ì˜í™”ë¥¼ í‰ê°€í•œ ì‚¬ìš©ìê°€ ìµœì†Œ 2ëª…ì´ ë˜ëŠ” ê²½ìš°ì—ë§Œ ê³„ì‚°            
            if len(sim_scores) > 1:
                # ì§€ì •ëœ neighbor size ê°’ê³¼ í•´ë‹¹ ì˜í™”ë¥¼ í‰ê°€í•œ ì´ì‚¬ìš©ì ìˆ˜ ì¤‘ ì‘ì€ ê²ƒìœ¼ë¡œ ê²°ì •
                neighbor_size = min(neighbor_size, len(sim_scores))
                # arrayë¡œ ë°”ê¾¸ê¸° (argsortë¥¼ ì‚¬ìš©í•˜ê¸° ìœ„í•¨)
                sim_scores = np.array(sim_scores)
                movie_ratings = np.array(movie_ratings)
                # ìœ ì‚¬ë„ë¥¼ ìˆœì„œëŒ€ë¡œ ì •ë ¬
                user_idx = np.argsort(sim_scores)
                # ìœ ì‚¬ë„ì™€ ratingì„ neighbor sizeë§Œí¼ ë°›ê¸°
                sim_scores = sim_scores[user_idx][-neighbor_size:]
                movie_ratings = movie_ratings[user_idx][-neighbor_size:]
                if sim_scores.sum() == 0:    # user_idì™€ ìœ ì‚¬ë„ê°€ 0ì¸ ê²½ìš° ìˆìŒ.
                    prediction = rating_mean[user_id]
                else:
                    # í¸ì°¨ë¡œ ì˜ˆì¸¡ì¹˜ ê³„ì‚°
                    prediction = np.dot(sim_scores, movie_ratings) / sim_scores.sum()
                    # ì˜ˆì¸¡ê°’ì— í˜„ ì‚¬ìš©ìì˜ í‰ê·  ë”í•˜ê¸°
                    prediction = prediction + rating_mean[user_id]
            else:
                prediction = rating_mean[user_id]
    else:
        prediction = rating_mean[user_id]
    return prediction

In [112]:
print(score(CF_knn_bias))

0.957674455114373

In [113]:
print(score(CF_knn_bias, neighbor_size=30))

0.9485429509551335

### ì „ì²´ ë°ì´í„°ì—ì„œ ì¶”ì²œ

In [80]:
rating_matrix = ratings.pivot_table(values='rating', index='user_id', columns='movie_id')

from sklearn.metrics.pairwise import cosine_similarity
matrix_dummy = rating_matrix.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)

In [81]:
def recommender(user, n_items=10, neighbor_size=20):
    # í˜„ì¬ ì‚¬ìš©ìì˜ ëª¨ë“  ì•„ì´í…œì— ëŒ€í•œ ì˜ˆìƒ í‰ì  ê³„ì‚°
    predictions = []
    rated_index = rating_matrix.loc[user][rating_matrix.loc[user] > 0].index    # ì´ë¯¸ í‰ê°€í•œ ì˜í™” í™•ì¸
    items = rating_matrix.loc[user].drop(rated_index)
    for item in items.index:
        predictions.append(CF_knn_bias(user, item, neighbor_size))                   # ì˜ˆìƒí‰ì  ê³„ì‚°
    recommendations = pd.Series(data=predictions, index=items.index, dtype=float)
    recommendations = recommendations.sort_values(ascending=False)[:n_items]    # ì˜ˆìƒí‰ì ì´ ê°€ì¥ ë†’ì€ ì˜í™” ì„ íƒ
    recommended_items = movies.loc[recommendations.index]['title']
    return recommended_items

In [82]:
recommender(user=2, n_items=5, neighbor_size=30)

movie_id
851             Bloody Child, The (1996)
1512                       Sprung (1997)
1467                    Cure, The (1995)
1591              Magic Hour, The (1998)
1293    Ayn Rand: A Sense of Life (1997)
Name: title, dtype: object

---
### í•™ìŠµë°ì´í„°ì˜ ì „ì²´ ì‚¬ìš©ìê°„ì˜ ìœ ì‚¬ë„ë¥¼ ìƒê´€ê³„ìˆ˜ë¡œ ê³„ì‚°

In [26]:
# user_similarity = rating_matrix.T.corr(method='pearson')
# user_similarity

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.608412e-01,0.112780,0.500000,0.420809,0.287159,0.258137,0.692086,-0.102062,-0.092344,...,0.061695,-2.602417e-01,0.383733,2.899974e-02,0.326744,5.343904e-01,0.263289,0.205616,-0.180784,0.067549
2,0.160841,1.000000e+00,0.067420,0.148522,0.327327,0.446269,0.643675,0.585491,0.242536,0.668145,...,0.021007,-2.711631e-01,0.214017,5.616449e-01,0.331587,-6.694897e-18,-0.011682,-0.062017,0.085960,0.479702
3,0.112780,6.741999e-02,1.000000,-0.262600,NaN,-0.109109,0.064803,0.291937,NaN,0.311086,...,NaN,NaN,-0.045162,-5.233642e-17,-0.137523,NaN,-0.104678,1.000000,-0.011792,NaN
4,0.500000,1.485221e-01,-0.262600,1.000000,1.000000,-0.581318,-0.266632,0.642938,NaN,-0.301511,...,0.500000,NaN,-0.203653,NaN,0.375000,NaN,0.850992,1.000000,0.412568,NaN
5,0.420809,3.273268e-01,NaN,1.000000,1.000000,0.241817,0.175630,0.537400,0.577350,0.087343,...,0.229532,-5.000000e-01,0.439286,6.085806e-01,0.484211,8.807048e-01,0.027038,0.468521,0.318163,0.346234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.534390,-6.694897e-18,NaN,NaN,0.880705,0.206315,0.142404,-0.333333,NaN,0.316228,...,0.374351,-3.305898e-02,0.471172,-2.758386e-01,-0.073374,1.000000e+00,-0.534522,-0.131306,-0.500000,-0.187317
940,0.263289,-1.168173e-02,-0.104678,0.850992,0.027038,-0.024419,0.000931,0.320487,0.171499,0.158976,...,-0.125059,4.352858e-01,-0.338327,-1.486075e-01,0.110022,-5.345225e-01,1.000000,0.632746,-0.022813,0.332497
941,0.205616,-6.201737e-02,1.000000,1.000000,0.468521,0.399186,0.000000,0.166667,1.000000,0.420084,...,-0.500000,-2.355139e-16,0.273060,3.929526e-01,-0.214147,-1.313064e-01,0.632746,1.000000,-0.577350,-0.395285
942,-0.180784,8.596024e-02,-0.011792,0.412568,0.318163,0.092349,0.452075,0.201328,0.707107,0.408994,...,0.438252,-8.703883e-01,-0.216119,4.472136e-01,0.244989,-5.000000e-01,-0.022813,-0.577350,1.000000,0.277433
943,0.067549,4.797016e-01,NaN,NaN,0.346234,0.109833,0.279081,0.040741,0.927173,0.119523,...,0.081880,7.881104e-02,-0.117941,-7.426107e-01,0.426501,-1.873172e-01,0.332497,-0.395285,0.277433,1.000000

- ìœ„ ë‚´ìš©ì²˜ëŸ¼ ì²˜ìŒì— ìƒê´€ê³„ìˆ˜ í–‰ë ¬ì„ êµ¬í–ˆì„ë•Œ NaNê°’ì´ ì¡´ì¬í•´ì„œ train ë°ì´í„°ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ ìœ ì‚¬ë„ë¥¼ êµ¬í–ˆì„ ë•Œ scoreê°€ NaNìœ¼ë¡œ ë‚˜ì™”ë‹¤.
- ì´ë¥¼ í•´ê²°í•˜ê¸° ìœ„í•´ ì•„ë˜ì²˜ëŸ¼ `.fillna(0)ì„ ì¶”ê°€í•´ì¤Œìœ¼ë¡œì¨ NaNê°’ì„ 0ìœ¼ë¡œ ì±„ì›Œì£¼ì—ˆë‹¤.

In [83]:
user_similarity = rating_matrix.T.corr(method='pearson').fillna(0)
user_similarity

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,1.608412e-01,0.112780,0.500000,0.420809,0.287159,0.258137,0.692086,-0.102062,-0.092344,...,0.061695,-2.602417e-01,0.383733,2.899974e-02,0.326744,5.343904e-01,0.263289,0.205616,-0.180784,0.067549
2,0.160841,1.000000e+00,0.067420,0.148522,0.327327,0.446269,0.643675,0.585491,0.242536,0.668145,...,0.021007,-2.711631e-01,0.214017,5.616449e-01,0.331587,-6.694897e-18,-0.011682,-0.062017,0.085960,0.479702
3,0.112780,6.741999e-02,1.000000,-0.262600,0.000000,-0.109109,0.064803,0.291937,0.000000,0.311086,...,0.000000,0.000000e+00,-0.045162,-5.233642e-17,-0.137523,0.000000e+00,-0.104678,1.000000,-0.011792,0.000000
4,0.500000,1.485221e-01,-0.262600,1.000000,1.000000,-0.581318,-0.266632,0.642938,0.000000,-0.301511,...,0.500000,0.000000e+00,-0.203653,0.000000e+00,0.375000,0.000000e+00,0.850992,1.000000,0.412568,0.000000
5,0.420809,3.273268e-01,0.000000,1.000000,1.000000,0.241817,0.175630,0.537400,0.577350,0.087343,...,0.229532,-5.000000e-01,0.439286,6.085806e-01,0.484211,8.807048e-01,0.027038,0.468521,0.318163,0.346234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.534390,-6.694897e-18,0.000000,0.000000,0.880705,0.206315,0.142404,-0.333333,0.000000,0.316228,...,0.374351,-3.305898e-02,0.471172,-2.758386e-01,-0.073374,1.000000e+00,-0.534522,-0.131306,-0.500000,-0.187317
940,0.263289,-1.168173e-02,-0.104678,0.850992,0.027038,-0.024419,0.000931,0.320487,0.171499,0.158976,...,-0.125059,4.352858e-01,-0.338327,-1.486075e-01,0.110022,-5.345225e-01,1.000000,0.632746,-0.022813,0.332497
941,0.205616,-6.201737e-02,1.000000,1.000000,0.468521,0.399186,0.000000,0.166667,1.000000,0.420084,...,-0.500000,-2.355139e-16,0.273060,3.929526e-01,-0.214147,-1.313064e-01,0.632746,1.000000,-0.577350,-0.395285
942,-0.180784,8.596024e-02,-0.011792,0.412568,0.318163,0.092349,0.452075,0.201328,0.707107,0.408994,...,0.438252,-8.703883e-01,-0.216119,4.472136e-01,0.244989,-5.000000e-01,-0.022813,-0.577350,1.000000,0.277433
943,0.067549,4.797016e-01,0.000000,0.000000,0.346234,0.109833,0.279081,0.040741,0.927173,0.119523,...,0.081880,7.881104e-02,-0.117941,-7.426107e-01,0.426501,-1.873172e-01,0.332497,-0.395285,0.277433,1.000000

- ì‚¬ìš©ìë³„ í‰ê°€ì ìˆ˜í‰ê· ì„ êµ¬í•´ì•¼í•œë‹¤.
### ê° userë³„ í‰ì  í‰ê· 
- ë°ì´í„°í”„ë ˆì„ transpose ì‹œí‚¨ ê³¼ì •ì„ ìƒì„¸íˆ ì‚´í´ë³¼ í•„ìš”ê°€ ìˆë‹¤.

In [84]:
# train ë°ì´í„°ì˜ userì˜ rating í‰ê· ê³¼ ì˜í™”ì˜ í‰ì í¸ì°¨ ê³„ì‚° 
rating_mean = rating_matrix.mean(axis=1)   # ì‚¬ìš©ìë³„ ì˜í™”í‰ì  í‰ê· , axis=1ì´ë©´ columnì— í–‰ì˜ í‰ê· 
rating_bias = (rating_matrix.T - rating_mean).T   # ê° ì˜í™” ì‚¬ìš©ì í‰ì  - ì‚¬ìš©ìë³„ ì˜í™”í‰ì í‰ê·

In [85]:
rating_bias

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.389706,-0.610294,0.389706,-0.610294,-0.610294,1.389706,0.389706,-2.610294,1.389706,-0.610294,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.290323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.709677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1.125714,0.125714,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.734694,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,-1.457944,NaN,NaN,0.542056,1.542056,-0.457944,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,0.954545,NaN,NaN,NaN,NaN,NaN,-0.045455,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,1.589286,NaN,NaN,NaN,NaN,NaN,NaN,-0.410714,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
rating_mean # series ë°ì´í„°, pandas ë°ì´í„°ê°€ ì•„ë‹ˆë‹¤.

user_id
1      3.610294
2      3.709677
3      2.796296
4      4.333333
5      2.874286
         ...
939    4.265306
940    3.457944
941    4.045455
942    4.265823
943    3.410714
Length: 943, dtype: float64

In [87]:
# ìœ„ í•¨ìˆ˜ë¡œ score ì •ì˜ 
print(score(CF_knn_bias))

96.55158048803142

In [88]:
print(score(CF_knn_bias, neighbor_size=30))

1.269812663763227

### ì „ì²´ ë°ì´í„°ì—ì„œ ì¶”ì²œ(ìƒê´€ê³„ìˆ˜ ìœ ì‚¬ë„)

In [89]:
rating_matrix = ratings.pivot_table(values='rating', index='user_id', columns='movie_id')
user_similarity = rating_matrix.T.corr(method='pearson')

In [94]:
def recommender(user, n_items=10, neighbor_size=20):
    # í˜„ì¬ ì‚¬ìš©ìì˜ ëª¨ë“  ì•„ì´í…œì— ëŒ€í•œ ì˜ˆìƒ í‰ì  ê³„ì‚°
    predictions = []
    
    # ì´ë¯¸ ì‚¬ìš©ìê°€ í‰ê°€í•œ ì˜í™”ë“¤ì˜ ì¸ë±ìŠ¤ë¥¼ ì°¾ê¸°
    rated_index = rating_matrix.loc[user][rating_matrix.loc[user] > 0].index
    # ì‚¬ìš©ìê°€ ì•„ì§ í‰ê°€í•˜ì§€ ì•Šì€ ì˜í™”ë“¤ë§Œ ê°€ì ¸ì˜¤ê¸°
    items = rating_matrix.loc[user].drop(rated_index)
    
    # ì‚¬ìš©ìê°€ í‰ê°€í•˜ì§€ ì•Šì€ ì˜í™”ë“¤ì— ëŒ€í•´ ì˜ˆìƒ í‰ì ì„ ê³„ì‚°
    for item in items.index:
        predictions.append(CF_knn_bias(user, item, neighbor_size))  # CF_knn_bias í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì—¬ ì˜ˆìƒ í‰ì  ê³„ì‚°
    
    # ì˜ˆìƒ í‰ì  ê²°ê³¼ë¥¼ ì‹œë¦¬ì¦ˆ í˜•íƒœë¡œ ì €ì¥ (ì•„ì´í…œ ì¸ë±ìŠ¤ì™€ ë§¤í•‘)
    recommendations = pd.Series(data=predictions, index=items.index, dtype=float)
    
    # ì˜ˆìƒ í‰ì ì´ ê°€ì¥ ë†’ì€ n_items ê°œì˜ ì˜í™” ì„ íƒ
    recommendations = recommendations.sort_values(ascending=False)[:n_items]
    # ì¶”ì²œ ì˜í™”ì˜ ì œëª©ì„ ê°€ì ¸ì˜¤ê¸°
    recommended_items = movies.loc[recommendations.index]['title']
    
    return recommended_items

In [95]:
recommender(user=2, n_items=5, neighbor_size=30)

movie_id
1402    Caro Diario (Dear Diary) (1994)
1321      Metisse (CafÃ© au Lait) (1993)
788         Swimming with Sharks (1995)
1288              Jack and Sarah (1995)
1389         Innocent Sleep, The (1995)
Name: title, dtype: object

In [96]:
# user 2ê°€ í‰ê°€í•œ ì˜í™” ë°ì´í„°
rating_matrix.loc[2]

movie_id
1       4.0
2       NaN
3       NaN
4       NaN
5       NaN
       ...
1678    NaN
1679    NaN
1680    NaN
1681    NaN
1682    NaN
Name: 2, Length: 1682, dtype: float64

In [97]:
recommender(user=5, n_items=5, neighbor_size=30)

movie_id
1255    Designated Mourner, The (1997)
1275                Sunset Park (1996)
1503          Bewegte Mann, Der (1994)
1639            Eighth Day, The (1996)
1080                    Curdled (1996)
Name: title, dtype: object