## Ïú†ÏÇ¨ÎèÑÍ∞Ä ÎÜíÏùÄ K ÏÇ¨Ïö©Ïûê(KNN)Ïùò ÌèâÏ†êÏùÑ Ïù¥Ïö©Ìïú ÌòëÏóÖ ÌïÑÌÑ∞ÎßÅ
- üí¨ REMIND
    - Memory-based : MatrixÎ•º Ïù¥Ïö©ÌïòÎäî Ï∂îÏ≤úÏãúÏä§ÌÖú Ï§ë ÏÇ¨Ïö©ÏûêÏùò ÌèâÏ†ê ÌòπÏùÄ ÏÇ¨Ïö© Ïó¨Î∂ÄÎ•º Î∞îÌÉïÏúºÎ°ú Íµ¨Îß§ Ìå®ÌÑ¥ÏùÑ ÌååÏïÖÌï¥ Í∑∏ Í∏∞ÏñµÏùÑ Î∞îÌÉïÏúºÎ°ú Ï∂îÏ≤úÏùÑ ÏßÑÌñâÌïòÎäî Î∞©Î≤ï

- KNN(K- Nearest Neighbors) : KÎ™ÖÏùò ÏµúÍ∑ºÏ†ë Ïù¥ÏõÉÏóê Í∏∞Î∞òÌï¥ÏÑú Ï∞æÎäî Î∞©Î≤ï, ÏÇ¨Ïö©ÏûêÍ∞Ä Ï§Ä ÌèâÏ†êÏúºÎ°ú Ïú†ÏÇ¨Ìïú ÏÇ¨ÎûåÏùò ÏïÑÏù¥ÌÖúÏùÑ Ï∞æÍ±∞ÎÇò, Ïú†ÏÇ¨Ìïú ÏïÑÏù¥ÌÖúÏùÑ Ï∞æÏïÑ Ï∂îÏ≤úÏùÑ ÌïúÎã§.
    - Ìé∏Ìñ•ÏùÑ Ï†úÍ±∞(Ï†ÑÎ∞òÏ†ÅÏúºÎ°ú ÌèâÏ†êÏùÑ ÌõÑÌïòÍ≤å Ï£ºÍ±∞ÎÇò Ï†ÅÍ≤å Ï£ºÎäî Í≤ΩÏö∞Î•º Î∞©ÏßÄ) Ìï¥Ï£ºÍ∏∞ ÏúÑÌï¥ ÎπÑÍµêÍµ∞Ïùò ÌèâÏ†êÏùÑ ÎçîÌï¥Ï£ºÍ±∞ÎÇò ÎπºÏ£ºÏñ¥ ÎèôÏùºÌïòÍ≤å Ìï¥Ï§ÄÎã§.
    - Î∞©Î≤ïÏù¥ Í∞ÑÎã®ÌïòÍ≥† ÏßÅÍ¥ÄÏ†ÅÏù¥Ïñ¥ÏÑú Ï†ëÍ∑ºÏù¥ Ïö©Ïù¥
    - Ïú†Ï†Ä Í∏∞Î∞òÏùò Î∞©Î≤ï Î∞è ÏÜçÎèÑ, Î©îÎ™®Î¶¨Í∞Ä ÎßéÏù¥ Îì†Îã§.
    - Ìù¨ÏÜåÏÑ±ÏúºÎ°ú Ïù∏Ìïú Ï†úÏïΩÏù¥ Î∞úÏÉùÌïúÎã§. (Ïú†ÏÇ¨Ìïú Ïù¥ÏõÉÏù¥ ÏÇ¨Ïö©Ìïú Í≤ΩÌóòÏù¥ ÏóÜÏúºÎ©¥ Ï∂îÏ≤ú Î∂àÍ∞ÄÎä•ÌïòÎã§)

In [1]:
import numpy as np
import pandas as pd

### Data Load

In [2]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.user', sep='|', names=u_cols, encoding='latin-1')

i_cols = ['movie_id', 'title', 'release date', 'video release date', 'IMDB URL', 'unknown', 
          'Action', 'Adventure', 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 
          'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 
          'Thriller', 'War', 'Western']
movies = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.item', sep='|', names=i_cols, encoding='latin-1')

r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('/Users/jun/Library/Mobile Documents/com~apple~CloudDocs/Github/ai _recommendation _system/data/u.data', sep='\t', names=r_cols, encoding='latin-1')

In [3]:
# rating df, timestamp Ï†úÍ±∞ 
ratings = ratings.drop('timestamp', axis=1)
ratings.head()

   user_id  movie_id  rating
0      196       242       3
1      186       302       3
2       22       377       1
3      244        51       2
4      166       346       1

### movie data Ïû¨Íµ¨ÏÑ±

In [4]:
# movie IDÏôÄ title ÎπºÍ≥† Îã§Î•∏ Îç∞Ïù¥ÌÑ∞ Ï†úÍ±∞
movies = movies[['movie_id', 'title']]
movies = movies.set_index('movie_id')
movies

                                              title
movie_id
1                                  Toy Story (1995)
2                                  GoldenEye (1995)
3                                 Four Rooms (1995)
4                                 Get Shorty (1995)
5                                    Copycat (1995)
...                                             ...
1678                              Mat' i syn (1997)
1679                               B. Monkey (1998)
1680                           Sliding Doors (1998)
1681                            You So Crazy (1994)
1682      Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 1 columns]

### RMSE
- $RMSE = \sqrt{\frac{1}{n} \sum_{i=1}^{n} (y_i - \hat{y_i})^2}$

In [5]:
# Ï†ïÌôïÎèÑ(RMSE)Î•º Í≥ÑÏÇ∞ÌïòÎäî Ìï®Ïàò
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

### Î™®Îç∏Î≥ÑÎ°ú ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïùò ÏòàÏ∏° Î∞è Ïã§Îç∞Ïù¥ÌÑ∞ Í∞ÑÏùò Ï†ïÌôïÎèÑ Í≥ÑÏÇ∞

In [6]:
# Î™®Îç∏Î≥Ñ RMSEÎ•º Í≥ÑÏÇ∞ÌïòÎäî Ìï®Ïàò
def score(model, neighbor_size=0):
    id_pairs = zip(x_test['user_id'], x_test['movie_id'])
    y_pred = np.array([model(user, movie, neighbor_size) for (user, movie) in id_pairs])
    y_true = np.array(x_test['rating'])
    return RMSE(y_true, y_pred)

### train, test set Î∂ÑÎ¶¨
- user_idÎ•º Í∏∞Ï§ÄÏúºÎ°ú ÏùºÏ†ï ÎπÑÏú®(stratify=true)Î°ú ÌïôÏäµ, ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ Î∂ÑÎ¶¨

In [7]:
from sklearn.model_selection import train_test_split
x = ratings.copy()
y = ratings['user_id']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state= 42, stratify=y)

### ÌïôÏäµÎç∞Ïù¥ÌÑ∞(ÏÇ¨Ïö©Ïûê X ÏòÅÌôî X ÌèâÏ†ê) matrix

In [8]:
# train Îç∞Ïù¥ÌÑ∞Î°ú Full matrix Íµ¨ÌïòÍ∏∞ 
rating_matrix = x_train.pivot(index='user_id', columns='movie_id', values='rating')
rating_matrix.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1671,1672,1673,1674,1676,1677,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,NaN,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### ÌïôÏäµÎç∞Ïù¥ÌÑ∞Ïùò Ï†ÑÏ≤¥ ÏÇ¨Ïö©ÏûêÍ∞ÑÏùò Ïú†ÏÇ¨ÎèÑ (cosie similarity) Í≥ÑÏÇ∞

In [9]:
from sklearn.metrics.pairwise import cosine_similarity

matrix_dummy = rating_matrix.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)
user_similarity

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
user_id,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.108361,0.046638,0.029577,0.245753,0.335853,0.344724,0.191582,0.057149,0.251979,...,0.257073,0.069412,0.231643,0.108093,0.176842,0.104799,0.232472,0.051528,0.129555,0.256333
2,0.108361,1.000000,0.057613,0.130237,0.054918,0.190552,0.079399,0.076146,0.167992,0.147376,...,0.136993,0.252887,0.255454,0.285193,0.232751,0.149088,0.102807,0.062386,0.109143,0.107686
3,0.046638,0.057613,1.000000,0.139805,0.000000,0.032485,0.043869,0.080968,0.022263,0.059925,...,0.027402,0.000000,0.175060,0.010343,0.105635,0.019052,0.127099,0.023917,0.060392,0.000000
4,0.029577,0.130237,0.139805,1.000000,0.000000,0.045190,0.088586,0.199526,0.135013,0.026919,...,0.055392,0.049773,0.076549,0.139382,0.113886,0.000000,0.130343,0.077357,0.157890,0.063911
5,0.245753,0.054918,0.000000,0.000000,1.000000,0.176443,0.281860,0.132205,0.038790,0.134200,...,0.183969,0.019305,0.073714,0.041807,0.081088,0.029743,0.188392,0.068342,0.055557,0.207259
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.104799,0.149088,0.019052,0.000000,0.029743,0.086464,0.075012,0.095736,0.000000,0.080883,...,0.061061,0.299811,0.158064,0.221251,0.323989,1.000000,0.047368,0.162173,0.058828,0.124548
940,0.232472,0.102807,0.127099,0.130343,0.188392,0.230566,0.270071,0.164157,0.131458,0.255758,...,0.195863,0.113346,0.144570,0.173568,0.139877,0.047368,1.000000,0.092911,0.199881,0.135868
941,0.051528,0.062386,0.023917,0.077357,0.068342,0.095478,0.020036,0.076269,0.106763,0.063461,...,0.021901,0.055348,0.226017,0.170493,0.249612,0.162173,0.092911,1.000000,0.072402,0.099200
942,0.129555,0.109143,0.060392,0.157890,0.055557,0.197307,0.236086,0.089871,0.089297,0.169309,...,0.111291,0.078263,0.051882,0.137759,0.069516,0.058828,0.199881,0.072402,1.000000,0.142812
943,0.256333,0.107686,0.000000,0.063911,0.207259,0.185268,0.266571,0.210995,0.089583,0.181031,...,0.173589,0.230924,0.108522,0.042257,0.178930,0.124548,0.135868,0.099200,0.142812,1.000000

## Ïù¥ÏõÉ Í∞ØÏàò KÎ•º Ï†ïÌï¥ÏÑú ÏòàÏ∏°Ïπò Í≥ÑÏÇ∞
- ÌäπÏ†ï ÏÇ¨Ïö©ÏûêÍ∞Ä ÌäπÏ†ï ÏòÅÌôîÏóê ÎåÄÌï¥ Í∞ÄÏßà ÌèâÏ†êÏùÑ ÏòàÏ∏°ÌïòÎäî Ìï®Ïàò
- **knn (k-ÏµúÍ∑ºÏ†ë Ïù¥ÏõÉ) CF ÏïåÍ≥†Î¶¨Ï¶ò Íµ¨ÌòÑ**
    - Ïú†ÏÇ¨ÎèÑ Î∞è ÌèâÏ†ê Îç∞Ïù¥ÌÑ∞ Î≥µÏÇ¨ Î∞è Ï†ïÏ†ú
        - `sim_scores`: ÏßÄÏ†ïÎêú ÏÇ¨Ïö©ÏûêÏôÄ Îã§Î•∏ Î™®Îì† ÏÇ¨Ïö©Ïûê Í∞ÑÏùò Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º Î≥µÏÇ¨
        - `movie_ratings`: ÏßÄÏ†ïÎêú ÏòÅÌôîÏóê ÎåÄÌïú Î™®Îì† ÏÇ¨Ïö©ÏûêÏùò ÌèâÏ†êÏùÑ Î≥µÏÇ¨
        - `none_rating_idx`: ÌèâÏ†êÏù¥ ÏóÜÎäî ÏÇ¨Ïö©ÏûêÏùò Ïù∏Îç±Ïä§Î•º Ï∞æÎäîÎã§.
        - ÌèâÏ†êÏù¥ ÏóÜÎäî ÏÇ¨Ïö©ÏûêÎ•º Ï†úÍ±∞
    - Ïù¥ÏõÉ ÌÅ¨Í∏∞Ïóê Îî∞Î•∏ ÌèâÏ†ê ÏòàÏ∏°
        - Neighbor sizeÍ∞Ä ÏßÄÏ†ïÎêú Í≤ΩÏö∞
            - ÏßÄÏ†ïÎêú neighbor sizeÏóê Îî∞Îùº Ìï¥Îãπ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïú ÏÇ¨Ïö©Ïûê Ï§ë **Ïú†ÏÇ¨ÎèÑÍ∞Ä Í∞ÄÏû• ÎÜíÏùÄ ÏÇ¨Ïö©ÏûêÎì§Ïùò ÌèâÏ†êÏùÑ ÏÇ¨Ïö©**ÌïòÏó¨ Í∞ÄÏ§ë ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞
            - `np.argsort()`: ÏÇ¨Ïö©ÌïòÏó¨ Ïú†ÏÇ¨ÎèÑÎ•º Í∏∞Ï§ÄÏúºÎ°ú `ÏÇ¨Ïö©Ïûê Ïù∏Îç±Ïä§`Î•º Ï†ïÎ†¨ÌïòÍ≥†, Í∞ÄÏû• Ïú†ÏÇ¨ÎèÑÍ∞Ä ÎÜíÏùÄ neighbor_size ÏàòÏùò ÏÇ¨Ïö©ÏûêÎßå Í≥†Î†§
            - Ïù¥ÌõÑ ÏÑ†ÌÉùÎèÑÎãà Ïù¥ÏõÉÏùò Ïú†ÏÇ¨ÎèÑÏôÄ ÌèâÏ†êÏùÑ Î∞îÌÉïÏúºÎ°ú Í∞ÄÏ§ë ÌèâÍ∑†ÏùÑ Í≥ÑÏÇ∞ÌïòÏó¨ Î∞òÌôò
    - `Ïú†ÏÇ¨ÎèÑÍ∞Ä ÎÜíÏùÄ ÏÇ¨Ïö©ÏûêÏùò ÌèâÏ†êÏùÑ ÏÇ¨Ïö©Ìï¥ ÏòàÏ∏°ÏùÑ ÏàòÌñâÌïòÎ©∞, Ïù¥ÏõÉ ÌÅ¨Í∏∞Î•º ÏßÄÏ†ïÌïòÏó¨ ÌäπÏ†ï ÏàòÏùò Ïù¥ÏõÉÎßå Í≥†Î†§Ìï† Ïàò ÏûàÎã§.`

In [10]:
def CF_knn(user_id, movie_id, neighbor_size=0):
    if movie_id in rating_matrix:
        # ÌòÑÏû¨ ÏÇ¨Ïö©Ïûê(ÎÇò)ÏôÄ Îã§Î•∏ ÏÇ¨Ïö©Ïûê Í∞ÑÏùò similarity Í∞ÄÏ†∏Ïò§Í∏∞
        sim_scores = user_similarity[user_id].copy()
        # ÌòÑÏû¨ ÏòÅÌôîÏóê ÎåÄÌïú Î™®Îì† ÏÇ¨Ïö©ÏûêÏùò ratingÍ∞í Í∞ÄÏ†∏Ïò§Í∏∞
        movie_ratings = rating_matrix[movie_id].copy()
        # ÌòÑÏû¨ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïòÏßÄ ÏïäÏùÄ ÏÇ¨Ïö©ÏûêÏùò index Í∞ÄÏ†∏Ïò§Í∏∞ = ÌèâÍ∞ÄÌïú Í≤ÉÎßå ÎÇ®ÎäîÎã§.
        none_rating_idx = movie_ratings[movie_ratings.isnull()].index
        # ÌòÑÏû¨ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïòÏßÄ ÏïäÏùÄ ÏÇ¨Ïö©ÏûêÏùò rating (null) Ï†úÍ±∞ = ÌèâÍ∞ÄÌïú ÏÇ¨ÎûåÎßå ÎÇ®ÎäîÎã§.
        movie_ratings = movie_ratings.drop(none_rating_idx)
        # ÌòÑÏû¨ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïòÏßÄ ÏïäÏùÄ ÏÇ¨Ïö©ÏûêÏùò similarityÍ∞í Ï†úÍ±∞ = ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎäî ÏÇ¨Îûå Ï†úÍ±∞
        sim_scores = sim_scores.drop(none_rating_idx)

        # (2) Neighbor sizeÍ∞Ä ÏßÄÏ†ïÎêòÏßÄ ÏïäÏùÄ Í≤ΩÏö∞        
        if neighbor_size == 0:          
            # ÌòÑÏû¨ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïú Î™®Îì† ÏÇ¨Ïö©ÏûêÏùò Í∞ÄÏ§ëÌèâÍ∑†Í∞í Íµ¨ÌïòÍ∏∞
            if sim_scores.sum() == 0:    # user_idÏôÄ Ïú†ÏÇ¨ÎèÑÍ∞Ä 0Ïù∏ Í≤ΩÏö∞ ÏûàÏùå.
                mean_rating = 3.0
            else:
                mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()
                
        # (3) Neighbor sizeÍ∞Ä ÏßÄÏ†ïÎêú Í≤ΩÏö∞
        else:                       
            # Ìï¥Îãπ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïú ÏÇ¨Ïö©ÏûêÍ∞Ä ÏµúÏÜå 2Î™ÖÏù¥ ÎêòÎäî Í≤ΩÏö∞ÏóêÎßå Í≥ÑÏÇ∞
            if len(sim_scores) > 1: 
                # ÏßÄÏ†ïÎêú neighbor size Í∞íÍ≥º Ìï¥Îãπ ÏòÅÌôîÎ•º ÌèâÍ∞ÄÌïú Ï¥ùÏÇ¨Ïö©Ïûê Ïàò Ï§ë ÏûëÏùÄ Í≤ÉÏúºÎ°ú Í≤∞Ï†ï
                neighbor_size = min(neighbor_size, len(sim_scores))
                # arrayÎ°ú Î∞îÍæ∏Í∏∞ (argsortÎ•º ÏÇ¨Ïö©ÌïòÍ∏∞ ÏúÑÌï®)
                sim_scores = np.array(sim_scores)
                movie_ratings = np.array(movie_ratings)
                # Ïú†ÏÇ¨ÎèÑÎ•º ÏàúÏÑúÎåÄÎ°ú Ï†ïÎ†¨ (argsort() = Ïù∏Îç±Ïä§Í∞íÍ≥º valueÍ∞íÏùÑ Í∞ôÏù¥ sortingÌïúÎã§.)
                user_idx = np.argsort(sim_scores)
                # Ïú†ÏÇ¨ÎèÑ Î∞è movie_ratingsÎ•º neighbor sizeÎßåÌÅº Î∞õÍ∏∞
                sim_scores = sim_scores[user_idx][-neighbor_size:]
                movie_ratings = movie_ratings[user_idx][-neighbor_size:]
                if sim_scores.sum() == 0:    # user_idÏôÄ Ïú†ÏÇ¨ÎèÑÍ∞Ä 0Ïù∏ Í≤ΩÏö∞ ÏûàÏùå.
                    mean_rating = 3.0
                else:
                    mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()
            else:
                mean_rating = 3.0
    else:
        mean_rating = 3.0
    return mean_rating

- **Í∞ÄÏ§ëÌèâÍ∑†** : `mean_rating = np.dot(sim_scores, movie_ratings) / sim_scores.sum()`
    - ÏÇ¨Ïö©Ïûê Í∞ÑÏùò Ïú†ÏÇ¨ÎèÑÎ•º Í∞ÄÏ§ëÏπòÎ°ú ÏÇ¨Ïö©ÌïòÏó¨ ÌäπÏ†ï ÏòÅÌôîÏóê ÎåÄÌïú ÏòàÏ∏° ÌèâÏ†êÏùÑ Í≥ÑÏÇ∞ÌïòÎäî Î∞©Î≤ï
    - Ïù¥ Î∞©ÏãùÏùÄ Ïú†ÏÇ¨ÎèÑ Ï†êÏàòÎ•º Ìï¥Îãπ ÏòÅÌôîÏóê ÎåÄÌïú ÌèâÏ†êÏóê ÎåÄÌïú Í∞ÄÏ§ëÏπòÎ°ú ÏÇ¨Ïö©ÌïòÏó¨, Ï£ºÏñ¥ÏßÑ ÏÇ¨Ïö©ÏûêÏóê ÎåÄÌïú ÏòÅÌôîÏùò ÌèâÏ†êÏùÑ ÏòàÏ∏°ÌïúÎã§.
    -
    - Ï†ïÏùò : Í∞Å Îç∞Ïù¥ÌÑ∞ Ìè¨Ïù∏Ìä∏Ïóê Îã§Î•∏ Ï§ëÏöîÎèÑ ÎòêÎäî Í∞ÄÏ§ëÏπòÎ•º Î∂ÄÏó¨ÌïòÏó¨ Í≥ÑÏÇ∞ÌïòÎäî ÌèâÍ∑†
        - Îã®ÏàúÌèâÍ∑†Í≥º Îã§Î•¥Í≤å, Í∞Å Îç∞Ïù¥ÌÑ∞ Í∞íÏù¥ Ï†ÑÏ≤¥ ÌèâÍ∑†Ïóê ÎØ∏ÏπòÎäî ÏòÅÌñ•Î†•ÏùÑ Í∑∏ Í∞íÏùò Ï§ëÏöîÎèÑÎÇò ÎπàÎèÑÏóê Îî∞Îùº Ï°∞Ï†ïÌïúÎã§.
        - $Weighted Average = \frac{w_1x_1 + w_2x_2 + ... + w_nx_n}{w_1 + w_2 + ... + w_n}$ = $\frac{\sum_{i=1}^{n} (w_i * x_i)}{\sum_{i=1}^{n} w_i}$

In [11]:
score(CF_knn)

np.float64(1.0237210431087944)

In [12]:
score(CF_knn, neighbor_size=30)

np.float64(1.0169668415833513)

- RMSEÏùò Ï†êÏàòÍ∞Ä ÎÇÆÏïÑÏ°åÏúºÎØÄÎ°ú neighbor_sizeÎ•º Ï£ºÎ©¥ Îçî Ï¢ãÏùÄ Í≤∞Í≥ºÎ•º ÏñªÏùÑ Ïàò ÏûàÎã§.

---
### Ï†ÑÏ≤¥ Îç∞Ïù¥ÌÑ∞ÏóêÏÑú Ï∂îÏ≤ú

In [13]:
rating_matrix = ratings.pivot_table(values='rating', index='user_id', columns='movie_id')

from sklearn.metrics.pairwise import cosine_similarity
matrix_dummy = rating_matrix.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)

In [14]:
def recommender(user, n_items=10, neighbor_size=20):
    # ÌòÑÏû¨ ÏÇ¨Ïö©ÏûêÏùò Î™®Îì† ÏïÑÏù¥ÌÖúÏóê ÎåÄÌïú ÏòàÏÉÅ ÌèâÏ†ê Í≥ÑÏÇ∞
    predictions = []
    rated_index = rating_matrix.loc[user][rating_matrix.loc[user] > 0].index    # Ïù¥ÎØ∏ ÌèâÍ∞ÄÌïú ÏòÅÌôî ÌôïÏù∏
    items = rating_matrix.loc[user].drop(rated_index)
    for item in items.index:
        predictions.append(CF_knn(user, item, neighbor_size))                   # ÏòàÏÉÅÌèâÏ†ê Í≥ÑÏÇ∞
    recommendations = pd.Series(data=predictions, index=items.index, dtype=float)
    recommendations = recommendations.sort_values(ascending=False)[:n_items]    # ÏòàÏÉÅÌèâÏ†êÏù¥ Í∞ÄÏû• ÎÜíÏùÄ ÏòÅÌôî ÏÑ†ÌÉù
    recommended_items = movies.loc[recommendations.index]['title']
    return recommended_items

In [15]:
recommender(user=2, n_items=5, neighbor_size=30)

movie_id
1500               Santa with Muscles (1996)
1189                      Prefontaine (1997)
1293                         Star Kid (1997)
1467    Saint of Fort Washington, The (1993)
318                  Schindler's List (1993)
Name: title, dtype: object

### ÏµúÏ†ÅÏùò neighbor size Ï∞æÍ∏∞

In [16]:
# train setÏúºÎ°ú full matrixÏôÄ cosine similarity Íµ¨ÌïòÍ∏∞ 
rating_matrix = x_train.pivot_table(values='rating', index='user_id', columns='movie_id')

matrix_dummy = rating_matrix.copy().fillna(0)
user_similarity = cosine_similarity(matrix_dummy, matrix_dummy)
user_similarity = pd.DataFrame(user_similarity, index=rating_matrix.index, columns=rating_matrix.index)

for neighbor_size in range(10, 100, 5):
    print("Neighbor size = %d : RMSE = %.4f" % (neighbor_size, score(CF_knn, neighbor_size)))

Neighbor size = 10 : RMSE = 1.0323
Neighbor size = 15 : RMSE = 1.0231
Neighbor size = 20 : RMSE = 1.0192
Neighbor size = 25 : RMSE = 1.0184
Neighbor size = 30 : RMSE = 1.0170
Neighbor size = 35 : RMSE = 1.0165
Neighbor size = 40 : RMSE = 1.0165
Neighbor size = 45 : RMSE = 1.0164
Neighbor size = 50 : RMSE = 1.0167
Neighbor size = 55 : RMSE = 1.0169
Neighbor size = 60 : RMSE = 1.0173
Neighbor size = 65 : RMSE = 1.0178
Neighbor size = 70 : RMSE = 1.0182
Neighbor size = 75 : RMSE = 1.0185
Neighbor size = 80 : RMSE = 1.0188
Neighbor size = 85 : RMSE = 1.0192
Neighbor size = 90 : RMSE = 1.0196
Neighbor size = 95 : RMSE = 1.0199

- neighbor sizeÍ∞Ä 40ÏùºÎïå RMSEÍ∞Ä Í∞ÄÏû• ÎÇÆÏùÄ Í≤ÉÏùÑ ÌôïÏù∏Ìï† Ïàò ÏûàÎã§.